# Git 
.git
.gitignore

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/

# Environment & Logs
.env
*.log
db.sqlite3

# IDE / Editor
.DS_Store
.vscode/
.idea/
*.swp

# Database & Large Data
*.sql
*.dump

# Static & Media Assets
staticfiles/
media/

# Sensitive Credentials
*.json

# backups
db_backups/