{% load static %}

<!DOCTYPE html>

<html>


    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">


	  <title> Shop.com </title>



        <!-- CSS -->
        
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- JavaScript -->

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


	<!-- JavaScript Popper -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

	

	 <!-- Bootstrap Max CDN --> 

	  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->



    </head>

    


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

        <a class="navbar-brand main-heading text-white me-5" href="{% url 'store' %}">
            &nbsp; &nbsp; Buyria — Your Shopping Aria
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- 左側 menu -->
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item dropdown">
                    <button class="dropdown-toggle text-white fs-5 bg-transparent border-0"
                            id="navbarDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Sections
                    </button>

                    <ul class="dropdown-menu shadow-lg border-0 p-2" aria-labelledby="navbarDropdown">
                        {% for category in all_categories %}
                            <li>
                                <a class="dropdown-item fs-5 py-2" href="{{ category.get_absolute_url }}">
                                    {{ category.name|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>

            <!-- 右側搜尋 + 登入區 -->
            <ul class="navbar-nav ms-auto">

                <!-- 搜尋 -->
                <form class="d-flex me-5" role="search" method="GET" action="{% url 'product-search' %}">
                    <select class="form-select me-3" name="category" style="width: 150px;">
                        <option value="">All</option>
                        {% for category in all_categories %}
                            <option value="{{ category.id }}"
                                {% if request.GET.category == category.id|stringformat:"s" %}
                                    selected
                                {% endif %}>
                                {{ category.name|capfirst }}
                            </option>
                        {% endfor %}
                    </select>

                    <input class="form-control me-3"
                        type="search"
                        name="q"
                        placeholder="Search products..."
                        value="{{ request.GET.q }}">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                {% if user.is_authenticated %}
                    <li class="nav-item me-3">
                        <a class="nav-link fs-5 text-white text-decoration-none"
                        href="{% url 'dashboard' %}">
                        <i class="fa-solid fa-house-chimney-user"></i>&nbsp; Dashboard
                        </a>
                    </li>

                    <li class="nav-item me-3">
                        <a class="nav-link fs-5 text-white text-decoration-none"
                        href="{% url 'user-logout' %}">
                        <i class="fa fa-sign-out"></i>&nbsp; Logout
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item me-3">
                        <a class="nav-link fs-5 text-white text-decoration-none"
                        href="{% url 'register' %}">
                        Sign Up
                        </a>
                    </li>

                    <li class="nav-item me-3">
                        <a class="nav-link fs-5 text-white text-decoration-none"
                        href="{% url 'my-login' %}">
                        Log In
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item me-3 d-flex align-items-center">
                    <a href="{% url 'cart-summary' %}" class="cart-btn position-relative text-white">
                        <i class="fa-solid fa-cart-shopping fs-4"></i>
                        <span id="cart-qty"
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ cart|length }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h6 id="message-timer" class="alert alert-success text-center"><i class="fa fa-sign-out" aria-hidden="true"></i>{{message}}</h6>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <h6 id="message-timer" class="alert alert-danger text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{message}}</h6>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <h6 id="message-timer" class="alert alert-success text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i>{{message}}</h6>
        {% endif %}
    {% endfor %}
    <body>
        {% block content %} 
        {% endblock %}
    </body>
    <footer class="bg-primary text-white mt-5 pt-5 pb-3">
        <div class="container">
            <div class="row">

            <!-- Navigation / Functional Links -->
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">Browse</h5>
                <ul class="list-unstyled footer-category-2col">
                    <li><a href="{% url 'store' %}" class="text-secondary text-decoration-none">Shop</a></li>
                    <li><a href="#" class="text-secondary text-decoration-none">Categories</a></li>

                    {% for c in all_categories %}
                        <li>
                            <a href="{{ c.get_absolute_url }}" class="text-secondary text-decoration-none">
                                {{ c.name|capfirst }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- User / Orders / Important Pages -->
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">User & Orders</h5>
                <ul class="list-unstyled">
                <li><a href="{% url 'cart-summary' %}" class="text-secondary text-decoration-none">Cart</a></li>
                <li><a href="{% url 'dashboard' %}" class="text-secondary text-decoration-none">Dashboard</a></li>
                <li><a href="{% url 'track-orders' %}" class="text-secondary text-decoration-none">My Orders</a></li>
                </ul>
            </div>

            <!-- Support / Trust -->
            <div class="col-md-4 mb-4">
                <h5 class="fw-bold">Customer Support</h5>
                <ul class="list-unstyled">
                <li><a href="#" class="text-secondary text-decoration-none">FAQ</a></li>
                <li><a href="#" class="text-secondary text-decoration-none">Refund / Return Policy</a></li>
                <li><a href="#" class="text-secondary text-decoration-none">Shipping Policy</a></li>
                </ul>

                <p class="fw-bold">Secure Payments</p>
                <div class="d-flex align-items-center">
                    <i class="fa-brands fa-cc-paypal fa-2x me-3"></i>
                    <i class="fa-brands fa-cc-visa fa-2x me-3"></i>
                    <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                </div>
            </div>

            </div>

            <hr class="border-secondary">

            <div class="text-center text-secondary small">
            © 2025-2026 Buyria — All rights reserved
            </div>
        </div>
        </footer>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</html>





















