
{% extends "./base.html" %}



{% block content %}

    <!-- Introduction section -->
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4>  Buyria — Shopping made effortless. </h4>
                <br>
                <p class="lead text-muted">
                Discover the joy of seamless shopping.
                </p>
                <br>
                <a href="{% url 'register' %}" class="btn btn-primary my-2"><i class="fa-solid fa-user-plus"></i>&nbsp; Create an account </a>
            </div>
        </div>
    </section>

   <!-- All products section -->
      
    <div class="album py-5 bg-light">
        
        <div class="container"style="max-width: 1800px;" >
    
          <div class="pb-3 h5"> Top 10 Hot Products </div>


          <hr>

          <br>
          

          <div class="row row-cols-2 row-cols-sm-5 row-cols-xl-10-custom g-2">

            {% for product in hot_products %}
    
            <div class="col">
              <div class="card shadow-sm h-100 p-2" style="font-size: 0.8rem;">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.thumbnail.url }}" class="img-fluid rounded" style="object-fit: contain; height: 150px;" alt="{{ product.title }}"></a>
                <div class="card-body">
                  <p class="card-text">
                    <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}">{{product.title| capfirst}}</a>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <h5> $ {{ product.price }}</h5>
                  </div>
                </div>
              </div>
            
            </div>
    
            
            {% endfor %}
          </div>
          {% if recent_views.exists %}
          <br>
          <br>
          <div class="pb-3 h5"> Recently Viewed </div>
          <hr>
          <br>
          <div class="row row-cols-2 row-cols-sm-5 row-cols-xl-10-custom g-2">
            {% for product in recent_views %}
            <div class="col">
              <div class="card shadow-sm h-100 p-2" style="font-size: 0.8rem;">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.thumbnail.url }}" class="img-fluid rounded" style="object-fit: contain; height: 150px;" alt="{{ product.title }}"></a>
                <div class="card-body">
                  <p class="card-text">
                    <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}">{{product.title| capfirst}}</a>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <h5> $ {{ product.price }}</h5>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>



{% endblock %}






