name: Django CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DEBUG: "False"
      DJANGO_ENV: "test"
      SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      POSTGRES_NAME: ${{ secrets.DB_NAME }}
      POSTGRES_USER: ${{ secrets.DB_USER }}
      POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      REDIS_URL: "redis://localhost:6379"
      GOOGLE_APPLICATION_CREDENTIALS: "gcp.json" 
      CSRF_TRUSTED_ORIGINS: "http://localhost"
      SENDGRID_API_KEY: "dummy-key"
      PAYPAL_CLIENT_ID: "dummy-id"
      PAYPAL_CLIENT_SECRET: "dummy-secret"
      PAYPAL_WEBHOOK_ID: "dummy-id"
      SHIPPO_API_KEY: "dummy-key"
      SHIPPO_WEBHOOK_TOKEN: "dummy-token"
      GOOGLE_CLIENT_ID: "dummy-id"
      GOOGLE_CLIENT_SECRET: "dummy-secret"
      GOOGLE_REDIRECT_URI: "http://localhost"
      GS_BUCKET_NAME: "test-bucket"
      TURNSTILE_SITE_KEY: "dummy-key"
      TURNSTILE_SECRET_KEY: "dummy-key"

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: ${{ secrets.DB_NAME }}       
          POSTGRES_USER: ${{ secrets.DB_USER }}      
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }} 
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Create GCP Service Account Key
      run: |
        echo '${{ secrets.GCP_KEY }}' > gcp.json

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libpq-dev gcc postgresql-client
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Database Migrations
      run: |
        python manage.py migrate

    - name: Run Tests
      run: |
        python manage.py test

  deploy:
    needs: test  
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          project_id: 'my-shopping-website-project'

      - name: 'Deploy via Cloud IAP'
        uses: 'google-github-actions/ssh-compute@v1'
        with:
          instance_name: 'buyria-vm'
          zone: 'asia-east1-c'
          user: 'a02839164'
          flags: '--tunnel-through-iap'
          ssh_private_key: '${{ secrets.SSH_PRIVATE_KEY }}'
          command: |
              cd /home/a02839164/dev/ecommerce_project
              chmod +x deploy.sh
              ./deploy.sh